/* цвет шапки и подвала #2F303A */

/* цвет h2 h3 #212121 */

/* цвет основной текста #757575 */

/* цвет h1 #ffffff */

/*                                     хедер */

/* логотип */

/* навигация сайта */

/* кантакты */

/* линия тест */

/*                                    mein index.html */

/* герой */

/* особености нашей команды */

/* чем мы занимается наша команда */

/* наша команда */

/*                                     mein portfolio.html */

/* уникальный контент страницы */

/*кнопки фильтра*/

/* нашы проекты */

/*                                      подвал сайта*/

footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: #2f303a;
}
