:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background-color: #e5e5e5;
}
.link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
/*                                     хедер */

/* логотип */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link {
  color: #000000;
}

/* навигация сайта */
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

/* кантакты */
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* линия тест */

/*                                    mein index.html */
.h2,
h3,
h4 {
  color: var(--secondary-text-color);
}

/* герой */
.hero {
}
/* особености нашей команды */
.command-peculiarities {
}
/* чем мы занимается наша команда */
.projects-section {
}
/* наша команда */
.command-section {
}

/*                                     mein portfolio.html */

/* уникальный контент страницы */

/*кнопки фильтра*/

/* нашы проекты */

/*                                      подвал сайта*/

footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: var(--heder-footer-background-color);
}
