/* цвет шапки и подвала #2F303A */

/* цвет h2 h3 #212121 */

/* цвет текста #757575 */

/* цвет h1 #ffffff */

/*  */
body {
  background-color: rgb(255, 246, 127);
}

/* навигацыя сайта и логотип */

/*уникальный контент страницы*/

/**/

/**/

/**/

/**/

/**/

/**/

a:hover {
  border-bottom: 1px solid rgb(212, 19, 19);
}
/*подвал сайта из адресами и контактами*/

footer ul li a {
  text-decoration: none;
}
